# Database Configuration
DATABASE_URL=postgresql://user:password@postgres:5432/nestjs_db
DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=nestjs_db

# Application Configuration
NODE_ENV=development
PORT=3000
